:root{
  --blue: rgb(61, 90, 254);
  --light-blue: rgb(33, 150, 243);
  --light-blue-percent: 80%;
}

body{
  background-color: rgb(10, 10, 10);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}

.link{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  color: white;
  font-family: StudioFeixenSansEdgy,sans-serif;
  padding: clamp(0.25em, 1vmin, 1em) clamp(1em, 4vmin, 4em);
  font-size: clamp(2em, 8vmin, 7em);
  text-decoration: none;
  position: relative;
}

.link:hover:before{
  transition: width 600ms ease;
  width: 100%;
}

.link::before{
  background: linear-gradient(
    to right,
    transparent,
    var(--blue) var(--light-blue-percent), 
    var(--light-blue)
  );
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 0%;
  position: absolute;
}

.link:nth-child(3) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}